# Node modules
node_modules/

# Environment variables
.env

# Build directories
build/
dist/

# MacOS specific
.DS_Store

# Debug logs
npm-debug.log
yarn-debug.log

# Code coverage
coverage/

# Logs
*.log
